@import url("variables.less");

#voltorbFlipGame, .flipTile {
  background-color: #309f6a;
}

#voltorbFlipTiles {
  position: sticky;
  z-index: 2;
}

.flipTile {
  border: 0.2rem solid #e8e0f0;
  margin: 3%;
  border-radius: 0.2rem;
  
  & .flipTileBox {

    &:not(.flipTileIndicator) {
      border: 0.1rem solid #303030;
    }

    &.indic-0 {
      fill: #de7055;
    }

    &.indic-1 {
      fill: #45a746;
    }

    &.indic-2 {
      fill: #e69f43;
    }

    &.indic-3 {
      fill: #3792f5;
    }

    &.indic-4 {
      fill: #bf65dd;
    }

    width: 100%;
  }
}

.flipIndicatorContent {
  position: absolute;
  top: 0px;
  margin: 10% auto 10% auto;
  width: 90%;
  font: 1.2rem pokemonFont,"Helvetica Neue",sans-serif;
  color: #303030;
  line-height: 100%;

  & .flipIndicatorScore {
    border: none;
    width: 100%;
    border-bottom: 0.2rem solid #e8e0f0;
    height: 30%;
    padding: 0 10% 10% 10%;
  }

  & .flipIndicatorBombDisplay {
    display: block;
    font: 0.8rem;
    padding: 5% 10% 0 0;
  }

  & .pokemonSprite {
    height: 100%;
    width: 100%;
  }
}