<div class="modal fade noselect" id="mtBattleModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Mt. Battle Trial
            </div>
            <div class="modal-body text-center">
                <h5>
                    Welcome to the Mt. Battle Trial!
                </h5>
                <p>
                    Current difficulty : <knockout data-bind="text: App.game.statistics['mt.BattleTotalTrialsCompleted']() + 1"></knockout><br/>
                    Expected Reward : <img src="assets/images/currency/battlePoint.svg" height="25px"/> <knockout data-bind="text: MountBattleController.trialBPReward()"></knockout>
                </p>
                <a class="btn btn-block btn-success text-light">
                      Enter the Trial
                </a>
                <a class="btn btn-block btn-danger text-light">
                    Exit Mt. Battle
                </a>
            </div>
        </div>
    </div>
</div>
